.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--input-height);
  padding: 6px;
  min-width: 3em;
  color: var(--color-gray-1);
  background-color: var(--color-dark-2);
  border: 1px solid var(--color-dark-2);
  border-radius: var(--border-radius);

  &:not(:disabled){
    &:hover {
      color: var(--color-dark-2);
      background-color: transparent;
    }

    &:active {
      scale: 1.05;
    }
  }

  &:disabled {
    background-color: var(--color-gray-4);
    border-color: var(--color-gray-4);
    cursor: not-allowed;
  }
}

.menu {
  display: flex;
  gap: 20px;
  justify-content: center;
}


.changeLangJp{
  &:hover{
    background-color: #bc2323;
  }
}

.changeLangEn{
  &:hover{
    background-color: #2353bc;
  }
}

