.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--input-height);
  padding: 6px;
  min-width: 3em;
  color: var(--color-gray-1);
  background-color: var(--color-dark-2);
  border: 1px solid var(--color-dark-2);
  border-radius: var(--border-radius);

  &:not(:disabled){
    &:hover:not(.changeLangJp, .changeLangEn) {
      color: var(--color-dark-2);
      background-color: transparent;
    }

    &:active {
      scale: 1.05;
    }
  }

  &:disabled {
    background-color: var(--color-gray-4);
    border-color: var(--color-gray-4);
    cursor: not-allowed;
  }
}

.menu {
  display: flex;
  gap: 20px;
  padding: 1em;
  justify-content: center;
  border-top: 1px solid var(--color-gray-3);
  border-radius: 5%;
}


.changeLangJp{
    background-color: #bc2323;
    &:hover:not(:disabled){
      background-color: transparent;
      color: #bc2323;

      //&:before{
      //  content: '';
      //  position: absolute;
      //  top: 50%;
      //  left: 50%;
      //  width: 1em;
      //  aspect-ratio: 1;
      //  background-color: #bc2323;
      //  border-radius: 50%;
      //
      //  transform: translate(-50%, -50%) scale(0);
      //  transition-duration: 0.5s;
      //}
    }
}

.changeLangEn{
    background-color: #2353bc;
    &:hover:not(:disabled){
      color: #2353bc;
      background-color: transparent;
    }
}

